<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <title>Result</title>
</head>
<body>
    <div class="container">
        <p><u>Submitted info</u></p>
        <p>Name: {{name_on_template}}</p>
        <p>Dojo Location: {{location_on_template}}</p>
        <p>Favorite Language: {{language_on_template}}!!!</p>
        <p>Comment: {{comment_on_template}}</p>
        <a href="/"><button class="btn btn-primary float-end">Go Back</button></a>
    </div>
</body>
</html>